@use '../abstracts/colors' as c;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  background-image: c.$gradient;
  overflow-x: clip;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}
