@use '../abstracts/colors' as c;

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: c.$text-dark-color;
}

h1 {
  color: c.$text-light-color;
  font-size: clamp(2rem, 1.5rem + 1.5vw, 5rem);
  font-weight: 500;
  line-height: 1.4;

  .subheader {
    font-size: clamp(1.5rem, 1rem + 1vw, 2.2rem);
  }
  .highlight {
    font-size: inherit;
    color: c.$third-color;
  }
}

h2 {
  font-size: clamp(2rem, 1rem + 2vw, 4.4rem);
}

p {
  font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
}
