// Text Colors
$text-white: #fff3e6;
$text-dark-color: #222;
$text-light-color: #808070;

$link-color: #afaffd;

// For backgrounds
$gradient: linear-gradient(180deg, #ffffef, #fff3e6);
$bg-dark: #2a2a25;
