// Text Colors
$text-white: #fff3e6;
$text-dark-color: #222;

// Text Grey Colors
$text-light-color: #888;

$link-color: #afaffd;

//
$third-color: #e2b659;
$third-color-dark: #5a4924;

// For backgrounds
$gradient: linear-gradient(180deg, #ffffef, #fff3e6);
$bg-dark: #2a2a25;

// Portrait
$portrait-shadow: #ebd5c6;
