@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as b;

//  INFO
// Other styles and settings are available in vendors/swiper.scss

.carousel-box {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: c.$bg-dark;
  height: 100vh;
  @media screen and (min-width: b.$large) {
    max-height: 100vh;
    overflow-x: hidden;
  }
}

.carousel {
  width: 100%;
  overflow-y: auto;

  &__img-box {
    @media screen and (min-width: b.$large) {
      img {
        filter: grayscale(100%) sepia(10%);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
        transition:
          filter 0.5s ease,
          box-shadow 0.5s;

        &:hover {
          filter: none;
          box-shadow: 0 0 70px rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

.carousel-info {
  position: relative;
  display: grid;
  // grid-template-rows: auto 1fr auto auto;
  row-gap: 1rem;
  align-items: center;
  padding: 2rem;
  color: c.$text-white;

  &__title {
    position: relative;
    padding: 1rem;
    padding-left: 5%;
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 500;
    text-transform: capitalize;

    @media screen and (min-width: b.$large) {
      margin-bottom: 2rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 7px;
      width: 65%;
      border: solid 2px #000;
      border-color: rgba($color: #e2b659, $alpha: 0.8) transparent transparent
        transparent;
      border-radius: 50%;
    }
  }

  &__desc {
    padding: 1rem;
    line-height: 1.5;
    font-size: clamp(1.5rem, 0.8rem + 0.6vw, 2.4rem);
    @media screen and (min-width: b.$x-large) {
      width: 75%;
    }
  }

  &__link {
    margin-left: auto;
    margin-right: 10%;
    margin-bottom: auto;
    @media screen and (min-width: b.$x-large) {
      margin-right: 20%;
    }
  }

  &__counter {
    margin-top: auto;
    font-family: 'Playfair Display', serif;
    width: 100%;
    transition: all 0.5s;

    .num-of-slide {
      margin-bottom: 0.7em;
      font-size: clamp(1.6rem, 0.5rem + 1vw, 2.8rem);
      font-weight: 600;
    }
  }
}
