@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as b;

$btn-icon-size: clamp(2rem, 1rem + 2vw, 2.5rem);

.btn {
  &:link,
  &:visited {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8em 1em;
    font-family: 'Raleway', sans-serif;
    color: #5a4924;
    font-size: clamp(1.3rem, 1rem + 1vw, 1.4rem);
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: solid 1px #715b2d;
    outline: transparent;
    transition:
      box-shadow 0.5s ease-in-out,
      transform 0.4s ease-in-out;

    @media screen and (min-width: b.$large) {
      padding: 1em 1.2em;
      border: solid 2px #715b2d;
    }

    .icon {
      width: $btn-icon-size;
      height: $btn-icon-size;
      fill: currentColor;
      animation: slide 1.5s ease-in-out infinite;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #eed39b, $alpha: 1);
      top: 0;
      left: 0;
      transform: translate(7px, 7px);
      transition: transform 0.5s ease-in-out;
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    &:active {
      transform: translate(0, 2px);
    }

    &:hover::before,
    &:focus::before {
      transform: translate(0, 0);
    }
  }
}
