@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as b;
@use '../abstracts/variables' as v;

$btn-icon-size: clamp(2rem, 1rem + 2vw, 2.5rem);
$btn-text-color: c.$third-color-dark;
$btn-border-color: c.$third-color-dark;
$btn-bg-color: rgba(c.$third-color, 0.4);

.btn {
  &:link,
  &:visited {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.8em 1em;
    color: $btn-text-color;
    font-size: clamp(1.2rem, 0.9rem + 0.15vw, 1.4rem);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: solid 1px $btn-border-color;
    outline: transparent;
    transition:
      box-shadow v.$transition-dur ease-in-out,
      transform v.$transition-dur ease-in-out,
      background-color v.$transition-dur ease-in-out;

    .icon {
      width: $btn-icon-size;
      height: $btn-icon-size;
      fill: currentColor;
      pointer-events: none;
    }

    @media screen and (min-width: b.$large) {
      padding: 1em 1.2em;
      border-width: 2px;
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    &:active {
      transform: translate(0, 2px);
    }
  }
  &--primary {
    &:link,
    &:visited {
      .icon {
        animation: slide 1.5s ease-in-out infinite;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $btn-bg-color;
        transform: translate(7px, 7px);
        transition: transform v.$transition-dur ease-in-out;
      }
      &:hover::before,
      &:focus::before {
        transform: translate(0, 0);
      }
    }
  }

  &--primary-reversed {
    &:link,
    &:visited {
      .icon {
        animation: slide 1.5s ease-in-out infinite reverse;
      }
    }
  }

  &--secondary {
    &:link,
    &:visited {
      padding: 1.4em 2.5em;
      position: relative;
      z-index: 0;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translateX(-50%) scaleX(0);
        background: $btn-bg-color;
        transition: transform v.$transition-dur ease-in-out;
      }

      &:hover::before,
      &:focus::before {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }

  &--white {
    &:link,
    &:visited {
      color: c.$text-white;
      border-color: c.$text-white;
      transition: color v.$transition-dur ease-in-out;
      &::before {
        background: rgba($color: c.$text-white, $alpha: 0.8);
      }
      &:hover,
      &:focus {
        color: c.$text-dark-color;
      }
    }
  }

  &--cta {
    &:link,
    &:visited {
      background-color: #444;
      color: c.$text-white;

      &:hover,
      &:focus {
        background-color: #555;
      }
    }
  }
}
