@use '../abstracts/breakpoints' as b;
@use '../abstracts/colors' as c;

.qualities {
  text-align: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10vw;
    row-gap: 5rem;
    list-style: none;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 100px;
    perspective: 10em;
    &:hover {
      .qualities__image {
        transform: rotateX(-20deg);
      }
      .qualities__text {
        transform: translateY(0.3em);
        &::before {
          transform: scaleX(1);
        }
      }
    }
  }

  &__image {
    transition: transform 0.4s ease-in-out;
  }

  &__text {
    position: relative;
    transition:
      transform 0.4s ease-in-out,
      text-shadow 0.4s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: c.$third-color;
      transform: scaleX(0);
      transition: transform 0.4s ease-in-out;
    }
  }
}
