:root {
  --swiper-navigation-size: 34px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 30px;
  --swiper-navigation-color: #fff;
}

.carousel {
  height: 100%;
  width: 100%;
  background-color: #2a2a25;

  &__slide {
    display: grid;
    grid-template-rows: 75fr 20fr;

    .img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    img {
      width: 80%;
      border-radius: 15px;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.09);
    }

    .info-box {
      width: 100%;
      color: #eee;
      background-color: red;

      &__title {
        padding: 1rem;
      }

      &__desc {
        display: none;

        @media screen and (min-width: 768px) {
          display: block;
        }
      }
    }
  }
}

:root {
  --swiper-pagination-color: #808070;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.swiper-pagination {
  position: static;
}
