@use '../abstracts/breakpoints' as b;

// Grid system for overview page
.grid-overview {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;

  @media screen and (min-width: b.$large) {
    display: grid;
    grid-template-columns: 40fr 60fr;
    height: 100vh;
  }
}

// Grid for overview header container - left side of page
.overview {
  display: flex;
  flex-direction: column;

  &__main-container {
    flex: 1;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    column-gap: 2rem;
  }

  &__logo-box {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__gallery-link {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
  }

  &__header {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  &__socials-box {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  &__carousel-info {
    grid-column: 2/4;
    grid-row: 3/4;
    justify-self: end;
  }
}
