@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as b;

// SETUP
$overview-bg: c.$gradient;
$tech-stack-bg: c.$bg-dark;

$social-icon-size: clamp(3rem, 2rem + 2vw, 4.5rem);
$tech-icon-size: clamp(3.4rem, 2rem + 2vw, 5rem);

// --------------------------------------------
.grid-overview {
  background-image: $overview-bg;
}

.overview {
  &__main-container {
    position: relative;
    z-index: 0;
    padding: 2rem;
  }

  &__logo-box {
    width: 4rem;
    @media screen and (min-width: b.$large) {
      width: 6rem;
    }
  }

  &__header {
    position: relative;
    padding: 2rem 3rem 0;
    margin-top: 1rem;

    .subheader {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__socials-box {
    display: flex;
    gap: 2rem;

    .icon {
      width: $social-icon-size;
      height: $social-icon-size;
    }
  }

  &__tech-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    background: $tech-stack-bg;
    .title {
      display: none;
      margin-bottom: 2rem;
      font-size: clamp(3rem, 2rem + 1vw, 3.3rem);
      color: c.$text-white;
      font-weight: 500;
      letter-spacing: -1px;
    }

    .icon-box {
      display: flex;
      gap: 2rem;

      .icon {
        width: $tech-icon-size;
        height: $tech-icon-size;
      }
    }

    @media screen and (min-width: b.$large) {
      padding: 2rem;

      .title {
        display: block;
      }
    }
  }
  &__bg-animation {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 80%;
    width: 80%;
    filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.1)) invert(100%);
    opacity: 0.02;
    overflow: hidden;
  }
}
