@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as b;

// SETUP
$overview-bg: c.$gradient;
$tech-stack-bg: c.$bg-dark;

$social-icon-size: clamp(3rem, 2rem + 2vw, 4.5rem);
$tech-icon-size: clamp(3.4rem, 2rem + 2vw, 5rem);

// --------------------------------------------
.grid-overview {
  height: 100vh;
  overflow: clip;
  background-image: $overview-bg;
}

.overview {
  &__main-container {
    padding: 2rem;
  }

  &__logo-box {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
  }

  &__header {
    position: relative;
    padding: 2rem 3rem 0;
    margin-top: 1rem;

    .subheader {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__socials-box {
    display: flex;
    gap: 2rem;

    .icon {
      width: $social-icon-size;
      height: $social-icon-size;
    }
  }

  &__tech-stack {
    padding: 1.5rem;
    background: $tech-stack-bg;
    .title {
      display: none;
      margin-bottom: 2rem;
      font-size: clamp(3rem, 2rem + 1vw, 3.3rem);
      color: c.$text-white;
      font-weight: 500;
      letter-spacing: -1px;
    }

    .icon-box {
      display: flex;
      gap: 2rem;

      .icon {
        width: $tech-icon-size;
        height: $tech-icon-size;
      }
    }

    @media screen and (min-width: b.$large) {
      padding: 5rem 3rem;

      .title {
        display: block;
      }
    }
  }
}

.carousel-info {
  padding-left: 2rem;
  width: 100%;
  max-width: 40rem;

  &__counter {
    margin-bottom: 0.7em;
    font-size: clamp(1.6rem, 0.5rem + 1vw, 2.3rem);
    font-weight: 600;
  }

  &__slide-name {
    margin-top: 0.5em;
    font-size: clamp(1.5rem, 0.5rem + 1vw, 2rem);
    color: c.$text-light-color;
    font-style: italic;
  }
}
