@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as b;
@use '../abstracts/variables' as v;

// SETUP
$overview-bg: c.$gradient;
$tech-stack-bg: c.$bg-dark;

$social-icon-size: clamp(3.8rem, 2rem + 1.6vw, 6rem);

// --------------------------------------------
.grid-mainpage {
  background-image: $overview-bg;
}

.overview {
  position: relative;
  z-index: 0;
  padding: 2rem;
  @media screen and (min-width: b.$x-large) {
    padding: 3rem;
  }

  &__logo-box {
    width: 4rem;
    @media screen and (min-width: b.$large) {
      width: 6rem;
    }
    img {
      pointer-events: none;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__header {
    padding: 2rem 0;
  }

  &__socials-box {
    display: flex;
    gap: 2rem;

    .icon {
      width: $social-icon-size;
      height: $social-icon-size;
      transition: fill v.$transition-dur ease-in-out;
      &:hover {
        fill: c.$third-color;
      }
    }
  }

  // GIF animation styles
  &__bg-animation {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 80%;
    width: 80%;
    filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.1)) invert(100%);
    opacity: 0.02;
    overflow: hidden;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: b.$x-large) {
    flex-direction: row;
  }

  &__img-box {
    max-width: 20rem;
    border: 7px solid transparent;
    border-radius: 50%;
    box-shadow:
      inset 0 0 10px 5px rgba($color: c.$portrait-shadow, $alpha: 1),
      0 0 10px 3px rgba($color: c.$portrait-shadow, $alpha: 1),
      0 0 20px rgba($color: c.$portrait-shadow, $alpha: 1);
    overflow: hidden;

    @media screen and (min-width: b.$large) {
      max-width: 20rem;
    }
    @media screen and (min-width: b.$x-large) {
      margin-bottom: 5rem;
      max-width: 22rem;
    }
    @media screen and (min-width: b.$xl-large) {
      max-width: 27rem;
    }

    img {
      transition: transform v.$transition-dur ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__content-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 60rem;
  }

  &__title {
    position: relative;
    padding: 0.8em 3rem 0;
    margin-top: 1rem;
    max-width: max-content;
    text-align: center;
    white-space: nowrap;

    .subheader {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__desc {
    position: relative;
    align-self: flex-end;
    padding-right: 10rem;
    margin-bottom: 5rem;
    width: 90%;
    max-width: 42rem;

    color: c.$text-light-color;
    font-style: italic;
    text-align: center;
    line-height: 1.6;

    @media screen and (min-width: b.$large) {
      max-width: 42rem;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 15rem;
      height: 15rem;
      transform: translateY(50%);
      background-image: url(../img/promyczki.svg);
      background-size: contain;
      background-position: center;
    }
  }
}
